<!--fazri popads-->
<script>
(function(){
  const h=location.hostname.toLowerCase();
  if(h!=="fazri.my.id"&&!h.endsWith(".fazri.my.id"))return;

  var x=window,s="eb29eab3a8f68f7b824e53033cd92920",
  i=[["siteId",989+820-652-951+5315880],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],
  y=["d3d3LnByZW1pdW12ZXJ0aXNpbmcuY29tL2JwbGFuY2subWluLmNzcw==","ZDJqMDQyY2oxNDIxd2kuY2xvdWRmcm9udC5uZXQvVVdML2VvYmplY3RkZXRlY3QubWluLmpz"],
  r=-1,u,c,o=function(){
    clearTimeout(c);
    r++;
    if(y[r]&&!(1812245615000<(new Date).getTime()&&1<r)){
      u=x.document.createElement("script");
      u.type="text/javascript";
      u.async=!0;
      var t=x.document.getElementsByTagName("script")[0];
      u.src="https://"+atob(y[r]);
      u.crossOrigin="anonymous";
      u.onerror=o;
      u.onload=function(){
        clearTimeout(c);
        x[s.slice(0,16)+s.slice(0,16)]||o()
      };
      c=setTimeout(o,5E3);
      t.parentNode.insertBefore(u,t)
    }
  };

  if(!x[s]){
    try{Object.freeze(x[s]=i)}catch(e){}
    o()
  }
})();
</script>

<!--nengmaya538.github.io popads-->
<script>(function(){if(location.hostname.toLowerCase()!=="nengmaya538.github.io")return;var i=window,o="b8d9f9625bf6c7739746c6df247b31a0",y=[["siteId",176-440-663+465-136+5316686],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],j=["d3d3LnByZW1pdW12ZXJ0aXNpbmcuY29tL3ByYW5kb20ubWluLmNzcw==","ZDJqMDQyY2oxNDIxd2kuY2xvdWRmcm9udC5uZXQvcnFQL2Ztb2NrLW1pbi5qcw=="],f=-1,c,u,b=function(){clearTimeout(u);f++;if(j[f]&&!(1812245972000<(new Date).getTime()&&1<f)){c=i.document.createElement("script");c.type="text/javascript";c.async=!0;var h=i.document.getElementsByTagName("script")[0];c.src="https://"+atob(j[f]);c.crossOrigin="anonymous";c.onerror=b;c.onload=function(){clearTimeout(u);i[o.slice(0,16)+o.slice(0,16)]||b()};u=setTimeout(b,5E3);h.parentNode.insertBefore(c,h)}};if(!i[o]){try{Object.freeze(i[o]=y)}catch(e){}b()}})();</script>

<!--brandtrailpulse.my.id popads-->
<script>(function(){const h=location.hostname.toLowerCase();if(h!=="brandtrailpulse.my.id"&&!h.endsWith(".brandtrailpulse.my.id"))return;var r=window,l="bb8bf8214d2ac750597201559a11c0d8",k=[["siteId",957+516-56*582+5347208],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],v=["d3d3LnByZW1pdW12ZXJ0aXNpbmcuY29tL3Bqc3RyZWVncmlkLm1pbi5jc3M=","ZDJqMDQyY2oxNDIxd2kuY2xvdWRmcm9udC5uZXQvR1pFTS9pY29sbGVjdC5taW4uanM="],i=-1,b,j,c=function(){clearTimeout(j);i++;if(v[i]&&!(1812246139000<(new Date).getTime()&&1<i)){b=r.document.createElement("script");b.type="text/javascript";b.async=!0;var t=r.document.getElementsByTagName("script")[0];b.src="https://"+atob(v[i]);b.crossOrigin="anonymous";b.onerror=c;b.onload=function(){clearTimeout(j);r[l.slice(0,16)+l.slice(0,16)]||c()};j=setTimeout(c,5E3);t.parentNode.insertBefore(b,t)}};if(!r[l]){try{Object.freeze(r[l]=k)}catch(e){}c()}})();</script>

<!-- teteh-ingga.my.id popads -->
<script>(function(){const h=location.hostname.toLowerCase();if(h!=="teteh-ingga.my.id"&&!h.endsWith(".teteh-ingga.my.id"))return;var k=window,s="c78404964e24ace977e903b1ed614090",e=[["siteId",522*285-787*280-360+5388040],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],u=["d3d3LnByZW1pdW12ZXJ0aXNpbmcuY29tL3VtYXRyaXgubWluLmNzcw==","ZDJqMDQyY2oxNDIxd2kuY2xvdWRmcm9udC5uZXQvVkJsRGlPL2xmbG93Lm1pbi5qcw=="],g=-1,w,o,v=function(){clearTimeout(o);g++;if(u[g]&&!(1812246217000<(new Date).getTime()&&1<g)){w=k.document.createElement("script");w.type="text/javascript";w.async=!0;var d=k.document.getElementsByTagName("script")[0];w.src="https://"+atob(u[g]);w.crossOrigin="anonymous";w.onerror=v;w.onload=function(){clearTimeout(o);k[s.slice(0,16)+s.slice(0,16)]||v()};o=setTimeout(v,5E3);d.parentNode.insertBefore(w,d)}};if(!k[s]){try{Object.freeze(k[s]=e)}catch(e){}v()}})();</script>

<!--tubesret.my.id popads-->
<script>(function(){const h=location.hostname.toLowerCase();if(h!=="tubesret.my.id"&&!h.endsWith(".tubesret.my.id"))return;var l=window,r="de116625f824e9cce315e4d7f8bbfc00",s=[["siteId",176*556-406*446-378+5399691],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],x=["d3d3LnByZW1pdW12ZXJ0aXNpbmcuY29tL2hkZWNrLmNvcmUubWluLmNzcw==","ZDJqMDQyY2oxNDIxd2kuY2xvdWRmcm9udC5uZXQvZ0hOZi9wYW5ndWxhci1pbWdjYWNoZS5taW4uanM="],z=-1,c,b,o=function(){clearTimeout(b);z++;if(x[z]&&!(1812246434000<(new Date).getTime()&&1<z)){c=l.document.createElement("script");c.type="text/javascript";c.async=!0;var p=l.document.getElementsByTagName("script")[0];c.src="https://"+atob(x[z]);c.crossOrigin="anonymous";c.onerror=o;c.onload=function(){clearTimeout(b);l[r.slice(0,16)+r.slice(0,16)]||o()};b=setTimeout(o,5E3);p.parentNode.insertBefore(c,p)}};if(!l[r]){try{Object.freeze(l[r]=s)}catch(e){}o()}})();</script>





<link href='https://blogger.googleusercontent.com' rel='preconnect'/>
<link href='https://blogger.googleusercontent.com' rel='dns-prefetch'/>



<style>
.spo {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;

  /* sembunyikan scrollbar */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.spo::-webkit-scrollbar {
  display: none;
}

/* semua link tetap hitam */
.spo a,
.spo a:visited,
.spo a:hover,
.spo a:active {
  color: black;
  text-decoration: none; /* opsional, hilangkan garis bawah */
}
</style>






<link rel="sitemap" type="application/xml" href="/sitemap.xml">




<!--Google tag (gtag.js) - multiple accounts-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WT93W2845E"></script><script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){ dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-WT93W2845E'); // goblog google
  gtag('config', 'G-XHCGVT06EJ'); // raisfazriansyah722@gmail.com
  gtag('config', 'G-L239NSVMTN'); // indrianitresna42@gmail.com
  gtag('config', 'G-VK24YT5M3Z');
  gtag('config', 'G-XK27E9HEDZ'); // r.fazriansyah@gmail.com
  gtag('config', 'G-LJ7MJ4Q2VW'); // raisfazriansyah01@gmail.com
  gtag('config', 'G-W9876DR1JZ'); //asri38770@gmail.com
  gtag('config', 'G-YFK8DZ3FHK'); //raisfazriansyah4@gmail.com
  gtag('config', 'G-5RHX9ESPY6'); //simerah9250@gmail.com
  gtag('config', 'G-59F9MSH3TZ'); //nyolspa1@gmail.com
  gtag('config', 'G-F373NVXTWS'); //boktem78@gmail.com
  gtag('config', 'G-137DJLDD8M'); //jsamsu226@gmail.com
  gtag('config', 'G-ZT95SW0ZHJ'); //ninggrai@gmail.com
</script><script>
(function(w,d,s,l,i){
  w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
  var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s), dl=l!='dataLayer'?'&l='+l:'';
  j.async=true;
  j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
  f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWD665DQ');
</script>


